# Environment variables
.env

# Virtual environment
venv/
__pycache__/
.venv/

# Log files
logs/
*.out
*.html


# Screenshots
screenshots/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp
*.swo